body {
    background-color: #eaeaea;
}
div {
    background-color: #eaeaea;
    left: 0;
}
table, th, td {
    border:1px solid #10A7F9;
    background-color: #041f8e;
}
p {
    background-color: #10A7F9;
}

.navbar {
    background-color: #041f8e;
    left: 0;
}

.active {
    background-color: #00c4ba;
}