* {
    color:inherit;
}
html {
    background-color: #212129;
    color:white;
}
body {
    background-color: inherit;
    color:inherit;
}
.buford, .sans, .gt, .uga, .ung {
    color:inherit;
}

.education {
    background-color: #10A7F9;
}
.skills {
    background-color: #ADD8E6;
}

table, th{
    border:1px solid #041f8e;
    color:inherit;
}
ul, li {
    color:inherit;
}

.footer {
    background-color: #10A7F9;
}

.navbar {
    background-color: #041f8e;
    left: 0;
}

.active {
    background-color: #00c4ba;
}
.nonactive {
    background-color: #041f8e;
}
.quickcard {
    background-color: #10A7F9;
}

.flex-boxes {
    background-color: #10A7F9;
}
.flex-boxes > div {
    background-color: #00c4ba;
}