* {
    color:white;
}

html, body {
    height: 100%;
    margin:0;
    font-family: 'Albert Sans';
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    margin-bottom:50px;
}
table {
    table-layout: fixed; 
    width: 100%;
}
th, td {
    padding-left:5px;
}

a{
    text-decoration: none;
}

footer {
    margin-top: 100px;
    width:100% - 5px;
    margin-top:auto;
    display: block;
    left: 0;
    bottom: 0;
}