.divider-solid {
  border-style: solid;
}
.divider-dashed {
  border-style: dashed;
}

/* <hr class="dashed"> */
hr.dashed {
  border-top: 3px dashed #fff;
}
/* <hr class="dotted"> */
hr.dotted {
  border-top: 3px dotted #fff;
}
/* <hr class="solid"> */
hr.solid {
  border-top: 3px solid #fff;
}
/* <hr class="rounded"> */
hr.rounded {
  border-top: 8px solid inherit;
  border-radius: 5px;
}