html, body {
    height: 100%;
    margin:0;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    width:100% - 5px;
    margin-top:auto;
    display: block;
    left: 0;
    bottom: 0;
    padding:5px;
}

.split {
    float: right;
}
.right {
    float: right;
    right:0;
    margin-right:0;
}
.hamburgerright {
    margin-right: 0px;
}

.flex-footer {
    background-color: #10A7F9;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* justify-content: space-around; */
    align-items: center;
    align-content: space-between;
  }


.flex-footer > div {
    text-align: center;
    flex-basis: 15%;
    background-color: #00c4ba;
    margin: 10px;
    padding: 20px;
    font-size: 18px;
  }