.parallax {
  /* The image used */
  background-image: url("../pics/parallax.JPG");

  /* Full height */
  min-height: 100%;     
  scroll-padding-top: 25px;

  /*
  margin-left: auto;
  margin-right: auto;
  */
  
  /* Create the parallax scrolling effect */
  position:relative;
  background-attachment: fixed;
  background-position: center ;
  background-repeat: no-repeat ;
  background-size: cover ;
}

.caption {
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  text-align: center;
  color: #000;
  opacity:0.75;
}
.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 15px;
  font-size: 30px;
  letter-spacing: 10px;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallax {
      background-attachment: scroll;
    }
  }
