.parallax {
  /* The image used */
  background-image: url("../pics/parallax.JPG");

  /* Full height */
  min-height: 100%;     
  scroll-padding-top: 25pxx;

  /*
  margin-left: auto;
  margin-right: auto;
  */
  
  /* Create the parallax scrolling effect */
  position:relative;
  background-attachment: fixed;
  background-position: center ;
  background-repeat: no-repeat ;
  background-size: cover ;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1400px) {
    .parallax {
      background-attachment: scroll;
    }
  }