.masonry {
    column-count: 2;
    column-gap: 1rem;
}

@media (min-width: 768px) {
    .masonry {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .masonry {
        column-count: 4;
    }
}

.masonry-item {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    border-radius: 8px;
    break-inside: avoid;
}
