/* Selects all html elements */
* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  white-space: nowrap;
}
  
/* styling for built in html texts */
h1 {
  display:inline-block;
  margin: 10px 0;
}
.likeh2 {
  color:white;
  display:inline-block;
  margin: 10px 0;
}
p {
  color:inherit;
  font-size: 0.9em;
}

/* Styling for Main Content Area */
body {
  font-family: 'Arial', sans-serif;
  background-color: #212129;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.info {
  color:white;
  background-color:#4c5265;
  margin-top: 2.5%;
  text-align: center;
  padding: 20px;
  margin-bottom:2.5%;
}

/* Main Picture */
.avatar {
  width: 50%;
  height: 100%;
  border-radius: 50%;
  margin-top: 2.5%; /* Half outside the card */
  border: 5px solid #4c5265; /* Creates a nice border effect */
}

/* Styling for the card itself */
.card-container {
  background-color:inherit; /* gets background color from the main background */
  perspective: 1000px; /* For a subtle 3D effect on hover */
}
.card {
  width: 75vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #3d3e51;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
}
.card:hover {
  transform: rotateY(10deg);
}

/*Styling for External Links*/
.links {
  color:#add8e6;
  display:block;
  font-size: 0.9em;
}

.link-icons {
  background-color:inherit;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.link-icons img {
  width: 24px;
  height: 24px;
  margin: 0 10px;
}

.link-icons a {
  transition: transform 0.3s;
}

.link-icons a:hover {
  transform: scale(1.3);
}